<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body onload="displayCharacter()">
    <div id="menu-container">
        <div id="menuImage" style="max-width:200px;">
            <img src="50x125Placeholder.png" , align="center">            
        </div>
        <h1>Character Details</h1>
        <div class="character-details">
            <p id="timeDisplay">Current Time: 08:00</p>
            <div id="all-details" class="hidden">
                <p>Hair Color: <span id="hairColor"></span></p>
                <p>Body Color: <span id="bodyColor"></span></p>
                <p>Clothes: <span id="clothes"></span></p>
                <p>Season: <span id="season"></span></p>
                <p>Gender: <span id="gender"></span></p>
                <p>Eye Color: <span id="eyeColor"></span></p>
                <p>Save file name: <span id="saveFileName"></span></p>
                <p>Boob size: <span id="boobSize"></span></p>
                <p>Penis size: <span id="penisSize"></span></p>
                <p>Ass size: <span id="assSize"></span></p>
                <p>Rape: <span id="rape"></span></p>
                <p>Foot Fetish: <span id="footFetish"></span></p>
                <p>Size Difference: <span id="sizeDifference"></span></p>
            </div>
        </div>

        <div id="menu">
            <div class="button-container">
                <button class="full-width" onclick="moveToChat()">Chat</button><button class="full-width" onclick="toggleModal('settingsModal')">Settings</button>
                <div class="full-width">
                    <button class="full-width" onclick="toggleModal('userModal')">User</button>
                </div>
                <button class="full-width" onclick="displayCharacterHidden()">Character</button>
            </div>
        </div>
        <div id="menu-bottom-text">
            <p>This site made by Maksim Krulevskiy for coursework.</p>
        </div>
    </div>

    <div id="content">    
    <div id="menu-button" onclick="toggleMenu()">☰ Menu</div>
        <div class="text-container">
            <p id="mainText">You wake up in your house.... you know, the place you used to think of as home. Your house has burned down and now you have to go looking for a place to stay. You're 1* years old, average build and you've never felt any attention from anyone but your parents, but that's about to change.</p>
            <span id="continueText" class="highlighted-text" onclick="continueAction()">Continue</span>
        </div>
    </div>



    <!-- Modals -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <div class="modal-menu">
                <button id="option1Button" class="option-button" onclick="selectOption(1)">Theme</button>
                <button id="option2Button" class="option-button" onclick="selectOption(2)">Option 2</button>        
                <span class="close" onclick="toggleModal('settingsModal')">&times;</span>
            </div>
            <div class="modal-text">
                <p>Settings Content...</p>
            </div>
        </div>
    </div>
    
    <div id="userModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('userModal')">&times;</span>
            <% if (user) { %>
            <p>Username: <%= user.name %></p>
            <p>Email: <%= user.email %></p>
            <% } else { %>
            <% } %>
        </div>
    </div>


    <script src="script.js"></script>
</body>
</html>
